@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700;900&display=swap');

@theme {
  --font-display: "Spline Sans", sans-serif;
  --font-sans: "Spline Sans", sans-serif;

  --color-primary: #3498db;
  --color-secondary: #232b4e;
  --color-accent: #3498db;
  --color-dark: #232b4e;
  --color-success: #95c11f;
  --color-danger: #e74c3c;
  --color-brand-green: #d1e7c4;
}

@layer base {
  body {
    @apply text-secondary antialiased overflow-x-hidden bg-white;
    font-family: 'Spline Sans', sans-serif;
  }
}

.journey-line {
  background-image: radial-gradient(var(--color-primary) 2px, transparent 2px);
  background-size: 24px 24px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}